.introduction-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  gap: 40px;
}

.introduction-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.label-text {
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

.label-text h1 {
  font-size: 48px;
  margin: 0;
}

.text-highlight {
  color: rgb(255, 192, 0)
}

.key-features {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0px;
}

.feature {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 3px 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.btn-join {
  width: 300px;
  height: 50px;
  border-radius: 45px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #153AD1;
  text-align: center;
  background-color: rgba(255, 192, 0, 1);
  margin-top: 6px;
}

.btn-join>i {
  color: white;
}

.label-image {
  background-color: rgb(255, 191, 0);
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.label-image img {
  width: 300px;
  height: 400px;
}