.login {
  font-family: Roboto;
  display: flex;
  background-color: #153AD1;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.login-img,
.login-elements {
  flex: 1;
  max-width: 50%;
}

.login-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.login-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  border: none;
  height: 1.5rem;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #153AD1;
}

.login-input::placeholder {
  color: #153AD1;
}

.login-checkbox {
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.login-checkbox-input {
  margin-right: 10px;
  margin-left: 0;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.login-checkbox-label {
  font-weight: lighter;
  color: white;
}

.login-button {
  height: 3rem;
  background-color: #FFC000;
  color: #153AD1;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-left: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.signup-group label {
  color: white;
}

.sub-signup-button {
  font-size: 16px;
  color: white;
  font-weight: bold;
  border: none;
  margin-left: 3px;
  background: none;
  cursor: pointer;
}

.social-login {
  display: flex;
  padding: 0 20px;
  gap: 10px;
}

.social-login-button {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  background: none;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  border: 2px solid white;
}

.social-login-button>i {
  font-size: 3rem;
  padding: 10px 5px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #555;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
  margin: 0 5px;
  /* Khoảng cách giữa đường kẻ và chữ */
}

.divider span {
  padding: 0 10px;
  /* Tùy chỉnh khoảng cách chữ so với đường kẻ */
  font-weight: bold;
  font-size: 14px;
  /* Cỡ chữ */
  color: white;
  /* Màu chữ */
}