/* Navbar.css */
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 60px;
}

.nav-logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo img{
  width: 3rem;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: background-color 0.3s;
  font-size: 18px;
  color: rgba(65, 65, 65, 1);
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.nav-links a.active {
  font-weight: 700;
  color: rgba(21, 58, 209, 1);
  border-bottom: 3px solid rgba(21, 58, 209, 1) ;
}

.nav-links a:hover {
  opacity: 0.7;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(65, 65, 65, 1);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.nav-buttons > .nav-auth {
  width: 120px;
  height: 40px;
  border: 2px solid rgba(21, 58, 209, 1);
  border-radius: 30px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  text-align: center;
  color: rgba(21, 58, 209, 1);
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.nav-buttons > .nav-auth:nth-child(2) {
  background-color: rgba(21, 58, 209, 1);
  color: white;
}

.nav-profile{
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
